# -*- mode: sh; sh-shell: bash -*-
# SPDX-License-Identifier: AGPL-3.0-or-later

# Location in the container where all folders from HOST are mounted
LXC_GUEST_MOUNT="${LXC_GUEST_MOUNT}"
LXC_ROOT_FOLDER="${LXC_ROOT_FOLDER_GUEST}"

# source minimal environment
. "${LXC_ROOT_FOLDER_GUEST}/scripts/lib_lxcenv.sh"
